NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DEFAULT_CURRENCY=INR
RETURN_WINDOW_DAYS=7
